<div class="post-body">
  <%= attachment_image_tag @postimage, :image %>
  <p>ショップ名:<%= @postimage.shop_name %></p>
  <p>説明:<%= @postimage.caption %></p>
  <p>ユーザーネーム:<%= @postimage.user.name %></p>
  <p>投稿日時:<%= @postimage.created_at.strftime('%Y/%m/%d') %></p>
  <% if @postimage.user == current_user %>
    <%= link_to "削除", postimage_path(@postimage), method: :delete %>
  <% end %>

  <% if @postimage.favorited_by?(current_user) %>
    <p>
      <%= link_to postimage_favorites_path(@postimage), method: :delete do %>
        ♥<%= @postimage.favorites.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to postimage_favorites_path(@postimage), method: :post do %>
        ♡<%= @postimage.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div class="comments">
  <p>コメント数: <%= @postimage.post_comments.count %></p>
  <% @postimage.post_comments.each do |post_comment| %>
    <p><%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
   <div class="comment-delete">
    <% if post_comment.user == current_user %>
      <%= link_to "削除", postimage_post_comment_path(post_comment.postimage, post_comment), method: :delete %>
    <% end %>
   </div>
  <% end %>
</div>

<div class="new-comment">
  <%= form_with(model:[@postimage, @post_comment], local: true) do |f| %>
    <%= f.text_area :comment, rows:'5', placeholder:"コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>